<app-nav-bar></app-nav-bar>

<!-- Start image background -->
<div class="Landing-page">
  <div class="content">
    <div class="ttle">
      <h2>Bienvenue au CineShow :)</h2>

      <span>Site CineShow est votre destination incontournable pour découvrir les derniers films et réserver facilement
      vos places dans plusieurs villes du Tunisie.</span> <br>
      <span>Notre plateforme simplifie l'accès aux films les plus récents et vous
      permet de profiter d'une expérience cinématographique exceptionnelle.</span> <br>
    </div>
  </div>
</div>
<!-- End image background -->

<!-- --------------------------------slid image -->
<div class="bigCon">
  <div class="container">
    <div class="slider">
      <div class="slides">
        <!-- Radio Button Start  -->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!-- Radio Button Close  -->

        <!-- Slide Image Start -->
        <div class="slide first">
          <h3>La Palace</h3>
          <img src="./../../assets/image/image/imaeCinePalace1.jpg" alt="">
        </div>
        <div class="slide">
          <h3>Colisée</h3>
          <img src="./../../assets/image/image/imagecineColisée.jpg" alt="">
        </div>
        <div class="slide">
          <h3>CinéMadart</h3>
          <img src="./../../assets/image/image/img3.jpg" alt="">
        </div>
        <div class="slide">
          <h3>L'Agora</h3>
          <img src="./../../assets/image/image/img5.jpg" alt="">
        </div>
        <!-- Automatic Navigation Start -->
        <div class="navigation-auto">
          <div class="auto-btn-1"></div>
          <div class="auto-btn-2"></div>
          <div class="auto-btn-3"></div>
          <div class="auto-btn-4"></div>
        </div>
        <!-- Automatic Navigation Close -->
      </div>
      <!-- Mannual Navigation Start -->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!-- Mannual Navigation Close -->
    </div>

  </div>
</div>

<!-- Image Slider Close -->

<!-- -------------------------------- End slid image -->
<!-- footer -->
<footer>
  <div class="footer-content">
    <h3>Cinema Tunisie</h3>
    <p>
      Copyright @ 2023, All Right Reserved
    </p>
    <h4 class="link-media">Retrouve nous aussi sur : </h4>
    <ul class="socials">
      <li><a class="btn btn-primary" style="background-color: #3b5998;" href="#" role="button"><i class="fab fa-facebook-f"></i></a></li>
      <li><a class="btn btn-primary" style="background-color: #55acee;" href="#" role="button"><i class="fab fa-twitter"></i></a></li>
      <li><a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a></li>
      <li><a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"><i class="fab fa-youtube"></i></a></li>
      <li><a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</footer>
<!-- footer -->
